body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input[type=button] {
    height: 30px;
    width: 100px;
    box-shadow: 1px 1px 3px #202020;
}

input[type=button]:disabled {
    height: 30px;
    width: 100px;
    box-shadow: 0px 0px 0px 0px rgb(240, 240, 240);
}

.window {
    background-color: rgb(240, 240, 240);
    text-align: center;
    /* Color corporativo Comunytek */
    border: 5px solid rgb(52, 152, 219);
    /*border-radius: 8px;*/
    box-shadow: 5px 5px 15px #202020;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.window h1 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    /* background               : rgb(177,201,228)         ; */
    background: rgb(52, 152, 219);
    color: white;
    /*   color                    : rgb(0,0,0)               ; */
    margin: 0;
    padding: 4px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: rgb(14, 14, 14);*/
    background-color: rgb(50, 50, 50);
    opacity: 0.5;
    filter: alpha(opacity=60);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.label {
    font-family: Arial;
    font-size: 10pt;
    position: absolute;
    /* Los labels con fondo en color deben ser un pelin mas grandes */
    padding: 3px;
}

.textbox {
    position: absolute;
    font-family: Arial;
    font-size: 10pt;
}

.spinner {
    position: absolute;
    font-family: Arial;
    font-size: 10pt;
}

.image {
    position: absolute;
}

.imageclick {
    position: absolute;
}

.imageclick:hover {
    opacity: 0.2;
}

.grid {
    background-color: rgb(230, 230, 230);
}

.grid th {
    background-color: rgb(246, 247, 249);
    color: black;
}

.grid tr.light {
    background-color: rgb(255, 255, 255);
}

.grid tr.dark {
    background-color: rgb(242, 242, 242);
}

.grid tr {
    font-family: Arial;
    font-size: 10pt;
    background-color: rgb(255, 255, 255);
}

.grid tr.selected {
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
}

.grid tr.unselected {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


/* FNG estilos para cosas fuera de HMGScript */

h1 {
    background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

h2 {
    background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

h3 {
    background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

h4 {
    background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

p {
    background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}

a {
    background-color: transparent;
    color: #3030C0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #3030C0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    color: #3030C0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}


/*
Dropbuttons
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background-color: gray;
    color: white;
    padding: 8px 14px;
    font-size: 18px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

.dropdown-content a {
    color: black;
    font-size: 14px;
    font-family: inherit;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    /*box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.8);*/
    box-shadow: 2px 2px 6px #202020;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(52, 152, 219);
    color: white;
}