/* Tabla de cabecero */
.cabecero
{
	border: 1px solid black;
	border-collapse: collapse;
}

.cabecero th
{
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none; 
}

.cabecero td
{
   color: black;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: normal;
   text-decoration: none;
}

.cabecero td:nth-child(odd)
{
	background-color: lightgray;
}

.cabecero td:nth-child(even)
{
	background-color: white;
}

.pie
{
	border: 1px solid black;
	border-collapse: collapse;
    padding: 3;
}

.pie th
{
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none; 
}

.pie td
{
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	/*text-align: right;*/ 
}

.clean
{
	border: 0;
	padding: 3;
}

table 
{
	border: 1px solid black;
	border-collapse: collapse;
    padding: 3;
}

th
{
   color: black;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-decoration: none;
}

td
{
   color: black;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   text-decoration: none;
}

h1 {
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	text-decoration: none;
}

h2 {
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
}

h3 {
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}

h4 {
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

p {
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
